{{define "feature-policy"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.onion HTTP Headers Help: Feature-Policy</title>
    <link rel="shortcut icon" href="https://ablative.hosting/images/icons/favicon.png" />
    <link href='//fonts.googleapis.com/css?family=Hind:400,300,600,500,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    
    <link href="https://ablative.hosting/css/bootstrap.css" rel="stylesheet">
    <link href="https://ablative.hosting/css/bootstrap-theme.css" rel="stylesheet">
    <link href="https://ablative.hosting/css/block_grid_bootstrap.css" rel="stylesheet">
    
    <link href="https://ablative.hosting/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/v4-shims.css">
</head>

<body>

    
    <div class="top">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                    <a href="/"><img src="https://ablative.hosting/images/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-sm-9">

                <nav id="desktop-menu">
			
                    <ul class="sf-menu" id="navigation">
                        <li class="current"><a href="/">Home</a> </li>
			<li><a href="/top/">Top Scoring .onions</a> </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
    

    
    <div class="breadcrumbs">
        <div class="row">
            <div class="col-sm-6">
                <h1>.onion HTTP Headers Help | Feature-Policy</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li>You are here: </li>
                    <li><a href="/">Home</a> </li>
                    <li>Help</li>
                    <li class="active">Feature-Policy</li>
                </ol>
            </div>
        </div>
    </div>
    

    
    <section class="login">
        <br/>
        <div class="row spacing-40">
            <div class="col-sm-12">
                <div class="login-form-panel">
			<div class="author-wrap">
				<div class="row">
					<div class="col-sm-12">
						<div class="author-info">
							<div class="author author-title">
								<h6>Feature-Policy</h6>
							</div>
							<div class="author-description">
								<p>Feature Policy allows web developers to selectively enable, disable, and modify the behavior of certain features and APIs in the browser. It is similar to Content Security Policy but controls features instead of security behavior.</p>
								<h4>.onion Specific Requirement</h4>
								<p>By forbidding access to APIs such as the <a href="https://www.theguardian.com/technology/2016/nov/01/firefox-disable-battery-status-api-tracking">battery status</a> or GeoLocation a .onion website can better protect users who aren't using the Tor Browser bundle.</a></p>
							<br/>
								<p>See the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Feature_Policy">Full Description</a> on the Mozilla Developer website.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="row spacing-20">
		    <div class="col-sm-12">
			<div class="row">
			   <div class="col-sm-8 center-block">
				<br/><br/>
				<p>We <strong>strongly</strong> recommend you use the <a href="http://mnr75i3yokqkumwc33n32hhhng7mp6u7mayyvi6a6dohkqn6thy564yd.onion/">.onion website</a></p>
				<p>This website allows you to check a .onion for HTTP security headers. HTTP headers can help protect Tor users by, for example, banning the use of certain browser features,
				preventing the rendering or execution of javascript or inline CSS and preventing information leaking between clicks.</p>
				<p>We are hoping that this resource will assist .onion webmasters to improve their security and the safety of their visitors.</p>
				<br/><br/>
			   </div>
			</div>
		    </div>
		</div>

            </div>
        </div>
    </section>
    

    
	
    
    <div class="social">
        <div class="row">

            <div class="col-sm-6">
                <ul>
                    <li><a href="https://twitter.com/AblativeHosting" title="twitter" target="_blank"><i class="fab fa-twitter"></i></a> </li>
                    <li><a href="https://github.com/Ablative-Hosting/" title="github" target="_blank"><i class="fab fa-github"></i></a> </li>
		    <li><a href="https://gitlab.com/ablative-hosting/" title="gitlab open source" target="_blank"><i class="fab fa-gitlab"></i></a> </li>
                </ul>
            </div>

            <div class="col-sm-6">
            </div>
        </div>
    </div>


    <section class="footer">
        <div class="row">
            <div class="col-sm-4">
                <h4>Hosting Options</h4>
                <ul>
                    <li><a href="https://ablative.hosting/shared-single-hop-onion-hosting/">Low Cost .Onion Hosting</a> </li>
                    <li><a href="https://ablative.hosting/single-hop-onion-hosting/">ClearNet Hosting with Single Hop .Onion</a> </li>
		    <li><a href="https://ablative.hosting/multi-hop-onion-hosting/">Multi Hop .Onion Hosting (fully Hidden Service)</a> </li>
		    <li><a href="mailto:sales@ablative.hosting?subject=QuadHop">QuadHop .Onion Hosting (for the truly paranoid)</a> </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Other Tools</h4>
                <ul>

                    <li><a href="https://onionwatch.email">OnionWatch</a> </li>
                    <li><a href="https://onionscan.org/">OnionScan</a> </li>

                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Contact Us</h4>
                <ul class="questions">
                    <li><i class="fa fa-phone"></i> +44 20 3322 9210</li>
                    <li><a href="mailto:sales@ablative.hosting"><i class="fa fa-envelope"></i> support@ablative.hosting</a> </li>
                </ul>
		Ablative Hosting Ltd. Registered in England and Wales no. <a href="https://beta.companieshouse.gov.uk/company/10602465">10602465</a>
            </div>
        </div>
    </section>
</body>
</html>{{end}}
